@font-face {
    font-family: 'DWImpactamin';
    src: url('../assets/fonts/font.ttf') format('truetype'); /* 폰트 파일 경로 및 포맷 지정 */
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DWImpactamin';
}

.Calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
    
}



.CalendarTitle{
    
    color: black;
    justify-content: center;
    margin-bottom: 30px;
}

.CalendarTitleHeader{
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 30px;
}

.Blueteext{
    color: rgb(23, 23, 179);
}

.CalendarTitleExplain{
    color: black;
    text-align: center;
}



