@font-face {
    font-family: 'DWImpactamin';
    src: url('../assets/fonts/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DWImpactamin';
}

.list-header {
    display: flex;
    width: 100%;
    align-self: flex-start; /* 좌측 정렬 */
    padding: 20px 0 ;
    margin-top: -30px;
    margin-left: -20px;
    margin-bottom:50px;
    
}

.header-logo {
    width: 212px;
    height: auto; /* 비율을 유지하도록 설정 */
    margin-right: 100px;
}

.list-category {
    display: flex; /* 링크들을 수평으로 배치 */
    gap: 70px; /* 링크 사이의 간격 설정 */
    padding-top: 13px;
}

.list-link {
    text-decoration: none;
    color: black;
    font-size: 20px; /* 폰트 크기 조정 */
}

.list-link:hover {
    color: #172D9D;
}
