* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DWImpactamin';
}

.CalendarBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    border: 2px solid;
    border-radius: 23px;
    border-color: rgb(151, 151, 151);
    width: 1032px;
    height: 668px;
    box-shadow: 0 0 10px 2px grey;
    margin-left: 12%;
}